<div class="container">
  <div class="row justify-content-center" style="text-align: center">
    <h1>My <span id="tripName"> {{trip.location}}</span> Trip</h1>
  </div>
  <div class="row justify-content-center" style="text-align: center">
    <button class="btn delete-btn" value="{{trip.id}}">Delete Trip</button>
  </div>

    
  {{!-- <div class="row row1">
    <img class="tripImage" style="width: 100%"src="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=1800&h=900&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2021%2F02%2F19%2Fnew-york-city-evening-NYCTG0221.jpg">
  </div> --}}
  <div class="row justify-content-center" style="text-align: center">
    <div class="header">
      {{!-- <form>
        <input type="text" placeholder="Search">
        <ion-icon name="search-outline"></ion-icon>
      </form> --}}
    </div>
  </div>
  <div class="row justify-content-center" style="text-align: center">
    <div class="gallery">
      
    </div>
    <a class="load-more" data-img="curated"></a>
  </div>

  <br>
  <div class="row justify-content-center" style="text-align: center">   
    <div class="col-5">{{trip.startDate}} - {{trip.endDate}}</div>
    <div class="col-5">{{trip.TripDetail.rating}}/5</div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">The best food I ate was {{trip.TripDetail.food}}.</li>
          <li class="list-group-item">The most unexpected experience was {{trip.TripDetail.experience}}!</li>
          <li class="list-group-item">I learned {{trip.TripDetail.lesson}}.</li>
          <li class="list-group-item">Will I revisit? {{trip.TripDetail.revisit}}.</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  {{#each trip.TripComments as |comment|}}
    <div class="row justify-content-center">
      <div class="col-10">
        {{> comment}}
      </div>
    </div>
  <br>
  {{/each}}
  <div class="row justify-content-center">
    <div class="col-10">
      <form class="newCommentSubmit">
        <div class="form-group">
          <label for="formGroupExampleInput1">Do you have any further comments?</label>
          <input type="hidden" id="commentlink" name="tripId" value="{{trip.id}}">
          <input type="text" class="form-control" id="comment">
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>
</div>
{{> script}}
<script src='/js/index.js'></script>
<script src='/js/addcomment.js'></script>


    {{!-- <div class="row row3">
        <!--  Answers -->
        <ul>
            <li>{{tripDetails.food}}</li>
            <li>{{tripDetails.experience}}</li>
            <li>{{tripDetails.lesson}}</li>
            <li>{{tripDetails.food}}</li>
        </ul>
    </div> --}}
